﻿@{
    Layout = "~/Views/Shared/_Layout_error.cshtml";
}

@{
    ViewData["Title"] = "404";
}

<div class="kt-error_container">
    <div class="kt-error_subtitle kt-font-dark">
        <h1>Oops...</h1>
    </div>
    <p class="kt-error_description kt-font-dark">
        Looks like something went wrong.
    </p>
    <br />
    <center><a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go To Home</a></center>
</div>