﻿@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout_auth.cshtml";
    ViewBag.Title = "Forget Password Confirmation";
}



<header class="sp-header">
    @*<div class="sp-logo-wrap pull-left">
        <a href="index.html">
            <img class="brand-img mr-10" src="~/img/logo.png" alt="brand" />
            <span class="brand-text"><img src="~/img/brand.png" alt="brand" /></span>
        </a>
    </div>*@
    @*<div class="form-group mb-0 pull-right">
            <span class="inline-block pr-10">Don't have an account?</span>
            <a class="inline-block btn btn-orange btn-rounded " asp-controller="Auth" asp-action="Register">Sign Up</a>
        </div>*@
    <div class="clearfix"></div>
</header>


<!-- Main Content -->
<div class="page-wrapper pa-0 ma-0 auth-page" style="background-image:url(../img/17580.jpg);">
    <div class="container">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30" style="background:none !important">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="sp-logo-wrap" style="text-align:center">
                                <a href="#">
                                    <img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
                                    <span class="brand-text"><img src="../img/brand.png" alt="brand" style="width:300px;" /></span>
                                </a>
                            </div>
                            <div class="mb-10 mt-10">
                                <h6 class="text-center txt-grey nonecase-font">
                                    If you have an account with us,
                                    we have sent an email
                                    with the instructions to reset your password.
                                </h6>
                            </div>

                            <div class="form-wrap">
                                <div class="form-group text-center">
                                    <a asp-action="Index" class="btn btn-orange ml-10">Back To Login</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>

 @section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }