﻿

@{
    Layout = "~/Views/Shared/_Layout_auth.cshtml";
    ViewData["Title"] = "Login / Sign Up";
}

<header class="sp-header">
    <div class="sp-logo-wrap pull-left">
        <a href="index.html">
            <img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
            <span class="brand-text"><img src="../img/brand.png" alt="brand" /></span>
        </a>
    </div>
    <div class="form-group mb-0 pull-right">
        <span class="inline-block pr-10">Already have an account?</span>
        <a class="inline-block btn btn-orange btn-rounded" href="login.html">Sign In</a>
    </div>
    <div class="clearfix"></div>
</header>

<!-- Main Content -->
<div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="mb-30">
                                <h3 class="text-center txt-dark mb-10">Sign up to Admintres</h3>
                                <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                            </div>
                            <div class="form-wrap">
                                <form action="#">
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputName_1">Username</label>
                                        <input type="email" class="form-control" required="" id="exampleInputName_1" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
                                        <input type="email" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
                                        <input type="password" class="form-control" required="" id="exampleInputpwd_2" placeholder="Enter pwd">
                                    </div>
                                    <div class="form-group">
                                        <label class="pull-left control-label mb-10" for="exampleInputpwd_3">Confirm Password</label>
                                        <input type="password" class="form-control" required="" id="exampleInputpwd_3" placeholder="Enter pwd">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary pr-10 pull-left">
                                            <input id="checkbox_2" required="" type="checkbox">
                                            <label for="checkbox_2"> I agree to all <span class="txt-orange">Terms</span></label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-orange btn-rounded">sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>
<!-- /Main Content -->
