﻿@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_auth.cshtml";
    ViewBag.Title = "Reset Password";
}

<header class="sp-header">
    <div class="sp-logo-wrap pull-left">
        <a href="index.html">
            <img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
            <span class="brand-text"><img src="../img/brand.png" alt="brand" /></span>
        </a>
    </div>
    @*<div class="form-group mb-0 pull-right">
            <span class="inline-block pr-10">Don't have an account?</span>
            <a class="inline-block btn btn-orange btn-rounded " asp-controller="Auth" asp-action="Register">Sign Up</a>
        </div>*@
    <div class="clearfix"></div>
</header>


<!-- Main Content -->
<div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="mb-30">
                                <h3 class="text-center txt-dark mb-10">Reset Password</h3>
                                @* <h6 class="text-center nonecase-font txt-grey">Reset Password</h6> *@
                            </div>
                            <div class="form-wrap">
                                @* <div asp-validation-summary="All" class="text-danger"></div> *@

                                <form method="post" asp-action="ResetPassword" asp-controller="Auth">
                                    <input  asp-for="Token" type="hidden" />
                                     <input asp-for="Email" type="hidden" />
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_2">Password</label>
                                        <input type="password" asp-for="Password" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter new password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="pull-left control-label mb-10" for="exampleInputpwd_2">Confirm Password</label>
                                        <input type="password" asp-for="ConfirmPassword" class="form-control" required="" id="exampleInputpwd_2" placeholder="Enter confirm password">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-orange btn-rounded">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>
<!-- /Main Content -->


 @section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   
 }