﻿@using Microsoft.Extensions.Options
@model TravelHub.Models.Locations
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add New Entry - Location";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New Entry - Location</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="AddLocationDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Type</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Type" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Type" id="Type">
                                        <option value="null" disabled Selected>---Select Type---</option>

                                        <option value="Domestic">Domestic</option>
                                        <option value="International">International</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 cname" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label mb-10">Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Country">
                                        <option value="null" disabled Selected>---Select Country---</option>
                                        <option value="India">India</option>
                                        <option value="UnitedStates">United States</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Malaysia">Malaysia</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">State Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="StateName" class="text-danger"></span>
                                    <input id="StateName" asp-for="StateName" name="StateName" type="text" class="form-control" placeholder="Enter State Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Sector Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="SectorName" asp-for="SectorName" name="SectorName" type="text" class="form-control" placeholder="Enter Sector Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="LocationName" asp-for="Name" name="LocationName" type="text" class="form-control" placeholder="Enter Location Name">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CategoryName" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Category">
                                        <option value="null" disabled Selected>---Select Category---</option>
                                        <option value="Beach">Beach</option>
                                        <option value="Hill Station">Hill Station</option>
                                        <option value="Wild Life">Wild Life</option>
                                        <option value="Pilligrim">Pilligrim</option>
                                        <option value="Desert">Desert</option>
                                        <option value="City">City</option>
                                        <option value="Amusement">Amusement</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Tour Type</label>
                                    &nbsp;&nbsp;<span asp-validation-for="TourType" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="TourType">
                                        <option value="null" disabled Selected>---Select Tour Type---</option>
                                        <option value="Start">Start</option>
                                        <option value="Conclude">Conclude</option>


                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Minimum Stay Require</label>
                                    <input id="MinStay" asp-for="MinStay" name="MinStay" type="number" step="any" class="form-control" placeholder="Enter Min Stay Require">
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Information</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <textarea id="LocationInfo" asp-for="Name" name="LocationInfo" type="text" class="form-control" placeholder="Enter Location LocationInfo"></textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Add Connected Destination Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Name</label>
                                    <input asp-for="Name" id="DestinationName" type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Category</label>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" id="DestCat">
                                        <option value="null" disabled Selected>---Select Destination Category---</option>
                                        <option value="Beach">Beach</option>
                                        <option value="Hill Station">Hill Station</option>
                                        <option value="Wild Life">Wild Life</option>
                                        <option value="Pilligrim">Pilligrim</option>
                                        <option value="Desert">Desert</option>
                                        <option value="City">City</option>
                                        <option value="Amusement">Amusement</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Road KM</label>
                                    <input id="ORoadKM" asp-for="RoadD" type="number" step="any" class="form-control" placeholder="Enter RoadKM">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Journey HR</label>
                                    <input id="OJourneyHR" asp-for="JourneyHR" type="number" step="any" class="form-control" placeholder="Enter Journey Hours">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <button id="add-more" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>



                            <div class="col-md-12" id="add_more_table" style="display: none;">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Add Must Seen Sight Seen Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg2" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Name</label>
                                    <input asp-for="Name" id="MDestinationName" type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Information</label>
                                    <input asp-for="Name" id="MInformation" type="text" class="form-control" placeholder="Enter Information">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Road KM</label>
                                    <input id="MRoadKM" asp-for="RoadD" type="number" step="any" class="form-control" placeholder="Enter RoadKM">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Journey HR</label>
                                    <input id="MJourneyHR" asp-for="JourneyHR" type="number" step="any" class="form-control" placeholder="Enter Journey HR">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <button id="add-more2" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>



                            <div class="col-md-12" id="add_more_table2" style="display: none;">
                                <table class="table table-hover" id="add_table2">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row2" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                            <th scope="col">Photo</th>

                                            <th scope="col">Video</th>

                                        </tr>
                                    </thead>
                                    <tbody class="note2">
                                    </tbody>
                                </table>
                            </div>

                            <!---->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Add Optional Sight Seen Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg3" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Name</label>
                                    <input asp-for="Name" id="OpDestinationName" type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Information</label>
                                    <input asp-for="Name" id="OpInformation" type="text" class="form-control" placeholder="Enter Information">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Road KM</label>
                                    <input id="OpRoadKM" asp-for="RoadD" type="number" step="any" class="form-control" placeholder="Enter RoadKM">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Journey HR</label>
                                    <input id="OpJourneyHR" asp-for="JourneyHR" type="number" step="any" class="form-control" placeholder="Enter Journey HR">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <button id="add-more3" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>



                            <div class="col-md-12" id="add_more_table3" style="display: none;">
                                <table class="table table-hover" id="add_table3">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row3" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                            <th scope="col">Photo</th>

                                            <th scope="col">Video</th>

                                        </tr>
                                    </thead>
                                    <tbody class="note3">
                                    </tbody>
                                </table>
                            </div>




                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Add Excursion Sight Seen Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg4" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Name</label>
                                    <input asp-for="Name" id="EDestinationName" type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Information</label>
                                    <input asp-for="Name" id="EInformation" type="text" class="form-control" placeholder="Enter Information">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Road KM</label>
                                    <input id="ERoadKM" asp-for="RoadD" type="number" step="any" class="form-control" placeholder="Enter RoadKM">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Journey HR</label>
                                    <input id="EJourneyHR" asp-for="JourneyHR" type="number" step="any" class="form-control" placeholder="Enter Journey HR">
                                </div>
                            </div>


                            <div class="col-md-12 page-header">
                                <button id="add-more4" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>



                            <div class="col-md-12 page-header" id="add_more_table4" style="display: none;">
                                <table class="table table-hover" id="add_table4">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row3" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                            <th scope="col">Photo</th>

                                            <th scope="col">Video</th>

                                        </tr>
                                    </thead>
                                    <tbody class="note4">
                                    </tbody>
                                </table>
                            </div>


                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Save</button>
                                <a asp-controller="Admin" asp-action="InvoiceDetails" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {
       
                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var DestinationName = document.getElementById("DestinationName").value;
                var DestCat = document.getElementById("DestCat").value;
                var ORoadKM = document.getElementById("ORoadKM").value;
                var OJourneyHR = document.getElementById("OJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';
     
                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='DestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='DestCat[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ORoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });



    

    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}