﻿@using Microsoft.Extensions.Options

@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Dashboard";
}

<div class="panel panel-primary border-panel card-view">


    <div class="panel-wrapper collapse in">
        <div class="panel-body">

            @*<div class="col-md-4">
                <div class="form-group">
                    <label class="control-label mb-10 text-left"> From Date (DD/MM/YYYY)</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="StartDate" name="StartDate" placeholder="Select  From Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label mb-10 text-left"> End Date (DD/MM/YYYY)</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="endDate" name="EndDate" placeholder="Select  End Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label mb-10 text-left">.</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-success vs">View</button>
                        &nbsp;&nbsp;
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view" style=" background: cornsilk;">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Total Supply + Erection</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div class="form-group mb-0">
                            <div class="col-md-6 text-center">
                                <div class="card-body">
                                    <p class="card-text" style="font-weight:700">Total Project Value</p>
                                    <span class="ototalsal" style="color:brown;font-size:initial">@ViewBag.TotalSales</span>


                                </div>

                            </div>
                            <div class="col-md-6 text-center">
                                <div class="card-body">
                                    <p class="card-text" style="font-weight:700">Total Billed Amount</p>
                                    <span class="ototalbl" style="color:brown;font-size:initial"> @ViewBag.TotalBills</span> 

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-15">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view" style=" background: cornsilk;">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">SUPPLY</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div class="form-group mb-0">
                            <div class="col-md-6 text-center">
                                <div class="card-body">
                                    <p class="card-text" style="font-weight:700">Total Project Value</p>
                                    <span class="stotalsal" style="color:brown;font-size:initial">@ViewBag.TotalSupply</span>
                                </div>

                            </div>
                            <div class="col-md-6 text-center ">
                                <div class="card-body">
                                    <p class="card-text" style="font-weight:700">Total Billed Amount</p>
                                    <span class="stotalbal" style="color:brown;font-size:initial"> @ViewBag.TotalSupplyBill</span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-15">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view" style=" background: cornsilk;">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">ERECTION</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div class="form-group mb-0">
                            <div class="col-md-6 text-center">
                                <div class="card-body">
                                    <p class="card-text"style="font-weight:700">Total Project Value</p>
                                    <span class="etotalsal"style="color:brown;font-size:initial"> @ViewBag.TotalErection</span>

                                </div>

                            </div>
                            <div class="col-md-6 text-center">
                                <div class="card-body">
                                    <p class="card-text" style="font-weight:700">Total Billed Amount</p>
                                    <span class="etotalbal" style="color:brown;font-size:initial"> @ViewBag.TotalErectionBill</span> 

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<style>
 /*   .datepicker {
        top: 300px !important;
    }*/
</style>
@section Scripts{

    <script>
 
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            //endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        $(document).ready(function () {



        $('.vs').click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#endDate").val();

                $.ajax({
                    url: "@(Url.Action("GetDashboardDataByD", "Admin"))",
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (result) {
                        $(".ototalsal")[0].innerText = result.totalSales;
                        $(".ototalbl")[0].innerText =  result.totaBills;
                        $(".stotalsal")[0].innerText = result.totalSupply;
                        $(".stotalbal")[0].innerText = result.totalSupplyBill;
                        $(".etotalsal")[0].innerText = result.totalErection;
                        $(".etotalbal")[0].innerText = result.totalErectionBill;

                    }
                })

            });
         });
    </script>



}