﻿@using Microsoft.Extensions.Options
@model TravelHub.Models.Hotels
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View Entry - Hotel";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View Hotel</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Hotel Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="Name" readonly asp-for="Name" name="Name" type="text" class="form-control" placeholder="Enter Hotel Name" value="@ViewBag.Hotels[0].Name">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Group Of</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="GroupOf" readonly asp-for="GroupOf" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf" value="@ViewBag.Hotels[0].GroupOf">

                                </div>
                            </div>
                            <div class="col-md-4 cname" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label mb-10">Sector Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="GroupOf" readonly asp-for="GroupOf" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf" value="@ViewBag.Hotels[0].SectorName">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="Address1"readonly asp-for="Address1" name="Address1" type="text" class="form-control" placeholder="Enter Location Address" value="@ViewBag.Hotels[0].Address1">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Town Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address1T" class="text-danger"></span>
                                    <input id="Address1T" readonly asp-for="Address1T" name="Address1T" type="text" class="form-control" placeholder="Enter Location Town Name" value="@ViewBag.Hotels[0].Address1T">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="Address1C" readonly asp-for="Address1C" name="Address1C" type="text" class="form-control" placeholder="Enter Location Country Name" value="@ViewBag.Hotels[0].Address1C">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address2" class="text-danger"></span>
                                    <input id="Address2"readonly asp-for="Address2" name="Address2" type="text" class="form-control" placeholder="Enter Corporate Address" value="@ViewBag.Hotels[0].Address2">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Town Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address2" class="text-danger"></span>
                                    <input id="Address2T" readonly asp-for="Address2T" name="Address2T" type="text" class="form-control" placeholder="Enter Corporate Town Name" value="@ViewBag.Hotels[0].Address2T">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].Address2C">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Star Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Star" class="text-danger"></span>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].Star">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Hotel Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Star" class="text-danger"></span>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].HotelCat">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Contact Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactName" class="text-danger"></span>
                                    <input id="ContactName" readonly asp-for="ContactName" name="ContactName" type="text" class="form-control" placeholder="Enter Contact Name" value="@ViewBag.Hotels[0].ContactName">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Designation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactDesignation" class="text-danger"></span>
                                    <input id="ContactDesignation" readonly asp-for="ContactDesignation" name="ContactDesignation" type="text" class="form-control" placeholder="Enter Contact Designation" value="@ViewBag.Hotels[0].ContactDesignation">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Mobile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactMobile" class="text-danger"></span>
                                    <input id="ContactMobile"readonly asp-for="ContactMobile" name="ContactMobile" type="text" class="form-control" placeholder="Enter Contact Mobile Name" value="@ViewBag.Hotels[0].ContactMobile">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Office Land Line</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactLandLine" class="text-danger"></span>
                                    <input id="ContactLandLine" readonly asp-for="ContactLandLine" name="ContactLandLine" type="text" class="form-control" placeholder="Enter Contact Landline Name" value="@ViewBag.Hotels[0].ContactLandLine">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Mail ID</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactMail" class="text-danger"></span>
                                    <input id="ContactMail" readonly asp-for="ContactMail" name="ContactMail" type="text" class="form-control" placeholder="Enter Contact Mail " value="@ViewBag.Hotels[0].ContactMail">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Personal Mobile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactPerMob" class="text-danger"></span>
                                    <input id="ContactPerMob" readonly asp-for="ContactPerMob" name="ContactPerMob" type="text" class="form-control" placeholder="Enter Contact Personal Mobile " value="@ViewBag.Hotels[0].ContactPerMob">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Work Profile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactWorkProfile" class="text-danger"></span>
                                    <input id="ContactWorkProfile" readonly asp-for="ContactWorkProfile" name="ContactWorkProfile" type="text" class="form-control" placeholder="Enter Contact Work Profile " value="@ViewBag.Hotels[0].ContactWorkProfile">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Reservation Desk Contact</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ReservationContact" class="text-danger"></span>
                                    <input id="ReservationContact" readonly asp-for="ReservationContact" name="ReservationContact" type="text" class="form-control" placeholder="Enter Reservation Contact " value="@ViewBag.Hotels[0].ReservationContact">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Meal Plan Provides</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Meal" class="text-danger"></span>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].Meal">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Four Person Allowed In Room?</label>
                                    &nbsp;&nbsp;
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].IsFour">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Company Establish From</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyFrom" class="text-danger"></span>
                                    <input id="CompanyFrom" readonly asp-for="CompanyFrom" name="CompanyFrom" type="number" class="form-control" placeholder="Enter Established From " value="@ViewBag.Hotels[0].CompanyFrom">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CategoryName" class="text-danger"></span>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].CategoryName">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Reference</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ReferenceName" class="text-danger"></span>
                                    <input id="ReferenceName" readonly asp-for="ReferenceName" name="ReferenceName" type="text" class="form-control" placeholder="Enter Reference" value="@ViewBag.Hotels[0].ReferenceName">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Accrediation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="AccrediationName" class="text-danger"></span>
                                    <input id="AccrediationName" readonly asp-for="AccrediationName" name="AccrediationName" type="text" class="form-control" placeholder="Enter Accrediation Name" value="@ViewBag.Hotels[0].AccrediationName">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        Account Details
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12" id="add_more_table" >
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                   
                                            <th scope="col">Name</th>
                                            <th scope="col">Account No</th>
                                            <th scope="col">IFSC</th>
                                            <th scope="col">Branch</th>
                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                        @{
                                            var Bank = ViewBag.Bank;

                                            for (int i = 0; i < @Bank.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@Bank[i].BankName</td>
                                                    <td>@Bank[i].AccountNo</td>
                                                    <td>@Bank[i].IFSC</td>

                                                    <td>@Bank[i].Branch</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5></h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Own Visit</label>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].OwnVisit">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Room Types</label>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].RoomTypes">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Grade</label>
                                    <input id="Address2C" readonly asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name" value="@ViewBag.Hotels[0].Grade">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Extra Adult Charges</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ExtraAdultCharges" class="text-danger"></span>
                                    <input id="ExtraAdultCharges" readonly asp-for="ExtraAdultCharges" name="ExtraAdultCharges" step="any" type="number" class="form-control" value="@ViewBag.Hotels[0].ExtraAdultCharges">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Extra Child Charges (5-11) </label>
                                    &nbsp;&nbsp;<span asp-validation-for="ExtraChildCharges" class="text-danger"></span>
                                    <input id="ExtraChildCharges" readonly asp-for="ExtraChildCharges" name="ExtraChildCharges" step="any" type="number" class="form-control" value="@ViewBag.Hotels[0].ExtraChildCharges">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Extra Meal Charges</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ExtraMealCharges" class="text-danger"></span>
                                    <input id="ExtraMealCharges" readonly asp-for="ExtraMealCharges" name="ExtraMealCharges" step="any" type="number" class="form-control" value="@ViewBag.Hotels[0].ExtraMealCharges">

                                </div>
                            </div>





                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="button" class="btn btn-danger pull-right mr-5" data-toggle="modal" data-target="#responsive-modal4">Delete Hotel Details</button>

                                <a asp-controller="Admin" asp-action="Hotels" class="btn btn-warning pull-left">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<div id="responsive-modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the hotel details!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteHotel" asp-route-ID="@ViewBag.Hotels[0].HID" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var BankName = document.getElementById("BankName").value;
                var AccountNo = document.getElementById("AccountNo").value;
                var IFSC = document.getElementById("IFSC").value;
                var Branch = document.getElementById("Branch").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (BankName != "" && AccountNo != "" && IFSC != "" && Branch != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='BankName[]' value='" + BankName + "'>" + BankName + "</td>";
                        eTable += "<td><input type='hidden' name='AccountNo[]' value='" + AccountNo + "'>" + AccountNo + "</td>";
                        eTable += "<td><input type='hidden' name='IFSC[]' value='" + IFSC + "'>" + IFSC + "</td>";
                        eTable += "<td><input type='hidden' name='Branch[]' value='" + Branch + "'>" + Branch + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });



            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}