﻿@using Microsoft.Extensions.Options
@model TravelHub.Models.DMC
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View - DMC";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View - DMC</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="AddDMCDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Company Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyName" class="text-danger"></span>
                                    <input id="Name" readonly asp-for="CompanyName" name="CompanyName" type="text" class="form-control" placeholder="Enter Company Name" value="@ViewBag.DMC[0].CompanyName">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Group Of</label>
                                    &nbsp;&nbsp;<span asp-validation-for="GroupOf" class="text-danger"></span>
                                    <input id="GroupOf" readonly asp-for="GroupOf" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf" value="@ViewBag.DMC[0].GroupOf">

                                </div>
                            </div>
                            <div class="col-md-4 cname" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label mb-10">Sector Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="GroupOf" readonly asp-for="GroupOf" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf" value="@ViewBag.DMC[0].SectorName">

                                </div>
                            </div>

                          

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Specific Speciality In Sector</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SpecificSp" class="text-danger"></span>
                                    <input id="GroupOf"  readonly asp-for="SpecificSp" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf" value="@ViewBag.DMC[0].SpecificSp">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Service Providing In</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ServiceIn" class="text-danger"></span>
                                    <input id="GroupOf" readonly asp-for="ServiceIn" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf" value="@ViewBag.DMC[0].ServiceIn">

                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Contact Details</h5>
                                    </div>
                                </div>
                            </div>

      


                   



                            <div class="col-md-12" id="add_more_table">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                
                                            <th scope="col">Contact Type</th>

                                            <th scope="col">Contact Name</th>
                                            <th scope="col">Contact Designation</th>
                                            <th scope="col">Contact Mobile</th>
                                            <th scope="col">Contact Office Land Line</th>
                                            <th scope="col">Contact Mail ID</th>
                                            <th scope="col">Contact Personal Mobile</th>
                                            <th scope="col">Contact Work Profile</th>

                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                        @{
                                            var Contacts = ViewBag.Contacts;

                                            for (int i = 0; i < @Contacts.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@Contacts[i].ContactType</td>

                                                    <td>@Contacts[i].ContactName</td>
                                                    <td>@Contacts[i].ContactDesignation</td>
                                                    <td>@Contacts[i].ContactMobile</td>

                                                    <td>@Contacts[i].ContactLandLine</td>
                                                    <td>@Contacts[i].ContactMail</td>
                                                    <td>@Contacts[i].ContactPerMob</td>
                                                    <td>@Contacts[i].ContactWorkProfile</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Emergency Contact</label>
                                    &nbsp;&nbsp;<span asp-validation-for="EmergencyContact" class="text-danger"></span>
                                    <input id="EmergencyContact" readonly asp-for="EmergencyContact" name="EmergencyContact" type="text" class="form-control" placeholder="Enter EmergencyContact" value="@ViewBag.DMC[0].ReservationContact">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Company Establish From</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyFrom" class="text-danger"></span>
                                    <input id="CompanyFrom" readonly asp-for="CompanyFrom" name="CompanyFrom" type="number" class="form-control" placeholder="Enter Established From "value="@ViewBag.DMC[0].CompanyFrom">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Own Fleets</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CategoryName" class="text-danger"></span>
                                    <input id="CompanyFrom"  readonly asp-for="CompanyFrom" name="CompanyFrom" type="text" class="form-control" placeholder="Enter Established From " value="@ViewBag.DMC[0].OwnFleets">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Reference</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ReferenceName" class="text-danger"></span>
                                    <input id="ReferenceName" readonly asp-for="ReferenceName" name="ReferenceName" type="text" class="form-control" placeholder="Enter Reference" value="@ViewBag.DMC[0].ReferenceName">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Accrediation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="AccrediationName" class="text-danger"></span>
                                    <input id="ReferenceName" readonly asp-for="ReferenceName" name="ReferenceName" type="text" class="form-control" placeholder="Enter Reference" value="@ViewBag.DMC[0].AccrediationName">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        Account Details
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12" id="add_more_table2">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                         
                                            <th scope="col">Name</th>
                                            <th scope="col">Account No</th>
                                            <th scope="col">IFSC</th>
                                            <th scope="col">Branch</th>
                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                        @{
                                            var Bank = ViewBag.Bank;

                                            for (int i = 0; i < @Bank.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@Bank[i].BankName</td>
                                                    <td>@Bank[i].AccountNo</td>
                                                    <td>@Bank[i].IFSC</td>

                                                    <td>@Bank[i].Branch</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Office Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address1" class="text-danger"></span>
                                    <input id="Address1" readonly asp-for="Address1" name="Address1" type="text" class="form-control" value="@ViewBag.DMC[0].Address1">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Out Of India Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address2" class="text-danger"></span>
                                    <input id="Address2" readonly asp-for="Address2" name="Address2" type="text" class="form-control" value="@ViewBag.DMC[0].Address2">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Grade</label>
                                    <input id="Address2" readonly asp-for="Address2" name="Address2" type="text" class="form-control" value="@ViewBag.DMC[0].Grade">

                                </div>
                            </div>







                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="button" class="btn btn-danger pull-right mr-5" data-toggle="modal" data-target="#responsive-modal4">Delete DMC Details</button>

                                <a asp-controller="Admin" asp-action="DMC" class="btn btn-warning pull-left">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<div id="responsive-modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the DMC details!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteDMC" asp-route-ID="@ViewBag.DMC[0].DID" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var ContactType = document.getElementById("ContactType").value;
                var ContactName = document.getElementById("ContactName").value;
                var ContactDesignation = document.getElementById("ContactDesignation").value;
                var ContactMobile = document.getElementById("ContactMobile").value;
                var ContactMail = document.getElementById("ContactMail").value;

                var ContactLandLine = document.getElementById("ContactLandLine").value;
                var ContactPerMob = document.getElementById("ContactPerMob").value;
                var ContactWorkProfile = document.getElementById("ContactWorkProfile").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (ContactType != "" && ContactName != "" && ContactMobile != "" && ContactDesignation != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='ContactType[]' value='" + ContactType + "'>" + ContactType + "</td>";
                        eTable += "<td><input type='hidden' name='ContactName[]' value='" + ContactName + "'>" + ContactName + "</td>";
                        eTable += "<td><input type='hidden' name='ContactDesignation[]' value='" + ContactDesignation + "'>" + ContactDesignation + "</td>";
                        eTable += "<td><input type='hidden' name='ContactMobile[]' value='" + ContactMobile + "'>" + ContactMobile + "</td>";
                        eTable += "<td><input type='hidden' name='ContactLandLine[]' value='" + ContactLandLine + "'>" + ContactLandLine + "</td>";
                        eTable += "<td><input type='hidden' name='ContactMail[]' value='" + ContactMail + "'>" + ContactMail + "</td>";

                        eTable += "<td><input type='hidden' name='ContactPerMob[]' value='" + ContactPerMob + "'>" + ContactPerMob + "</td>";
                        eTable += "<td><input type='hidden' name='ContactWorkProfile[]' value='" + ContactWorkProfile + "'>" + ContactWorkProfile + "</td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more2").click(function () {

                var BankName = document.getElementById("BankName").value;
                var AccountNo = document.getElementById("AccountNo").value;
                var IFSC = document.getElementById("IFSC").value;
                var Branch = document.getElementById("Branch").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (BankName != "" && AccountNo != "" && IFSC != "" && Branch != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='BankName[]' value='" + BankName + "'>" + BankName + "</td>";
                        eTable += "<td><input type='hidden' name='AccountNo[]' value='" + AccountNo + "'>" + AccountNo + "</td>";
                        eTable += "<td><input type='hidden' name='IFSC[]' value='" + IFSC + "'>" + IFSC + "</td>";
                        eTable += "<td><input type='hidden' name='Branch[]' value='" + Branch + "'>" + Branch + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });




            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}