﻿@using Microsoft.Extensions.Options

@inject UserManager<ApplicationUser> UserManager;
@inject TravelHub.Services.AdminAccess AdminAccess;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelHub</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="..     vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Toast CSS -->
    <link href="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Data table CSS -->
    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    @* <link href="~/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css"/>
    *@
    <!-- bootstrap-select CSS -->
    <link href="~/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />

    <!-- Morris Charts CSS -->
    <link href="~/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css" />

    <!-- Chartist CSS -->
    <link href="~/vendors/bower_components/chartist/dist/chartist.min.css" rel="stylesheet" type="text/css" />


    <!-- vector map CSS -->
    <link href="~/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/main/dist/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Dropify CSS -->
    <link href="~/vendors/bower_components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    @*<div class="wrapper">
  
        <div class="page-wrapper">*@
            <div class="container">
                @RenderBody()
            </div>


        @*</div>

    </div>*@

    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="~/vendors/bower_components/editable-table/numeric-input-example.js"></script>
    <script src="~/main/dist/js/editable-table-data.js"></script>

    <script src="~/main/dist/js/dataTables-data.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="~/main/dist/js/jquery.slimscroll.js"></script>

    <!-- Progressbar Animation JavaScript -->
    <script src="~/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/main/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Sparkline JavaScript -->
    <script src="~/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Switchery JavaScript -->
    <script src="~/vendors/bower_components/switchery/dist/switchery.min.js"></script>

    <!-- Vector Maps JavaScript -->
    <script src="~/vendors/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/vendors/vectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/main/dist/js/vectormap-data.js"></script>

    <!-- Toast JavaScript -->
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- Piety JavaScript -->
    <script src="~/vendors/bower_components/peity/jquery.peity.min.js"></script>
    <script src="~/main/dist/js/peity-data.js"></script>

    <!-- Chartist JavaScript -->
    <script src="~/vendors/bower_components/chartist/dist/chartist.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="~/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- ChartJS JavaScript -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>

    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/html2canvas_invoice.js"></script>

    <!-- Bootstrap Select JavaScript -->
    <script src="~/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/main/dist/js/dataTables-data.js"></script>

    @* <script src="~/vendors/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/main/dist/js/responsive-datatable-data.js"></script>
    *@
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <script src="~/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/bower_components/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/main/dist/js/export-table-data.js"></script>

    <!-- Init JavaScript -->
    <script src="~/main/dist/js/init.js"></script>
    <script src="~/main/dist/js/dashboard-data.js"></script>


    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="~/vendors/bower_components/dropify/dist/js/dropify.min.js"></script>

    <!-- Form Flie Upload Data JavaScript -->
    <script src="~/main/dist/js/form-file-upload-data.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
