﻿@using Microsoft.Extensions.Options

@inject UserManager<ApplicationUser> UserManager;
@inject TravelHub.Services.AdminAccess AdminAccess;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelHub</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="..     vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Toast CSS -->
    <link href="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Data table CSS -->
    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    @* <link href="~/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css"/>
    *@
    <!-- bootstrap-select CSS -->
    <link href="~/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />

    <!-- Morris Charts CSS -->
    <link href="~/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css" />

    <!-- Chartist CSS -->
    <link href="~/vendors/bower_components/chartist/dist/chartist.min.css" rel="stylesheet" type="text/css" />


    <!-- vector map CSS -->
    <link href="~/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/main/dist/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Dropify CSS -->
    <link href="~/vendors/bower_components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <div class="wrapper theme-2-active navbar-top-light horizontal-nav">
        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="nav-wrap">
                <div class="mobile-only-brand pull-left">
                    <div class="nav-header pull-left">
                        <div class="logo-wrap">
                            <a href="#">
                                <img class="brand-img" src="~/img/brand.png" alt="brand" style="width: 135px; height: 50px;" />
                                <span class="brand-text"><img src="~/img/brand.png" alt="brand" style="width: 135px; height: 50px;" /></span>
                            </a>
                        </div>
                    </div>
                    <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
                    @* <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a> *@
                    <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="ti-more"></i></a>

                </div>
                <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                    <ul class="nav navbar-right top-nav pull-right">


                        <li class="dropdown auth-drp">
                            <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="~/img/user.jpg" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
                            <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                                <li>
                                    <a asp-action="View_Profile"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                                </li>

                                <li>
                                    <a asp-action="SignOut" asp-controller="Auth"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /Top Menu Items -->
        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left" style="background-color:black !important">
            <ul class="nav navbar-nav side-nav nicescroll-bar" style="background-color:black;">
                <li class="navigation-header">
                    <span>Main</span>
                    <hr />
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Dashboard" style="color:white !important"><div class="pull-left"><i class=" ti-layout-grid2 mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Dashboard</span></div><div class="clearfix"></div></a>

                </li>
           
                    <li>
                        <a href="#" style="color:white !important"><div class="pull-left"><i class="icon-notebook mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Enquiry</span></div><div class="clearfix"></div></a>
                    </li>
                
            

                    <li>
                        <a href="#" style="color:white !important"><div class="pull-left"><i class="icon-doc mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Bookings</span></div><div class="clearfix"></div></a>
                    </li>

           
            



                    <li>
                        <a href="#"><div class="pull-left" style="color:white !important"><i class="icon-book-open mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Reports</span></div><div class="clearfix"></div></a>
                    </li>


                

              
                    @*<li>
                        <a href="#"><div class="pull-left" style="color:white !important"><i class="icon-settings mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Masters</span></div><div class="clearfix"></div></a>
                    </li>*@
                
                    <li>
                        <a href="javascript:void(0);" style="color:white !important" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="icon-settings mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Masters </span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
                        <ul id="app_dr" class="collapse collapse-level-1">
                            <li>
                                <a asp-action="Locations">Locations</a>
                            </li>
                            @*<li>
                                <a href="#">Itinerary</a>
                            </li>*@
                            <li>
                                <a asp-action="VisaAssistance">Visa</a>
                            </li>
                            <li>
                                <a asp-action="Hotels">Hotels</a>
                            </li>
                            <li>
                                <a asp-action="DMC">DMC</a>
                            </li>


                        </ul>
                    </li>

            </ul>
        </div>
        <!-- /Left Sidebar Menu -->
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container pt-30">
                @RenderBody()
            </div>

            <!-- Footer -->
            <footer class="footer pl-30 pr-30" style="color:white; background-color:black;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>&copy; 2021, Travel Hub <br /> Designed and Developed By <a style="all:unset !important; color:white !important; cursor:pointer !important" href="https://www.ingeniouscope.com" target="_blank">Ingeniouscope</a></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /Footer -->

        </div>
        <!-- /Main Content -->

    </div>

    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="~/vendors/bower_components/editable-table/numeric-input-example.js"></script>
    <script src="~/main/dist/js/editable-table-data.js"></script>

    <script src="~/main/dist/js/dataTables-data.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="~/main/dist/js/jquery.slimscroll.js"></script>

    <!-- Progressbar Animation JavaScript -->
    <script src="~/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/main/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Sparkline JavaScript -->
    <script src="~/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Switchery JavaScript -->
    <script src="~/vendors/bower_components/switchery/dist/switchery.min.js"></script>

    <!-- Vector Maps JavaScript -->
    <script src="~/vendors/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/vendors/vectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/main/dist/js/vectormap-data.js"></script>

    <!-- Toast JavaScript -->
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- Piety JavaScript -->
    <script src="~/vendors/bower_components/peity/jquery.peity.min.js"></script>
    <script src="~/main/dist/js/peity-data.js"></script>

    <!-- Chartist JavaScript -->
    <script src="~/vendors/bower_components/chartist/dist/chartist.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="~/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- ChartJS JavaScript -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>

    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/html2canvas_invoice.js"></script>

    <!-- Bootstrap Select JavaScript -->
    <script src="~/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/main/dist/js/dataTables-data.js"></script>

    @* <script src="~/vendors/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/main/dist/js/responsive-datatable-data.js"></script>
    *@
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <script src="~/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/bower_components/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/main/dist/js/export-table-data.js"></script>

    <!-- Init JavaScript -->
    <script src="~/main/dist/js/init.js"></script>
    <script src="~/main/dist/js/dashboard-data.js"></script>


    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="~/vendors/bower_components/dropify/dist/js/dropify.min.js"></script>

    <!-- Form Flie Upload Data JavaScript -->
    <script src="~/main/dist/js/form-file-upload-data.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
