﻿.tax_title {
    font-family: Georgia, serif;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

@page {
    size: A4 !important;
    margin-left: 10px !important;
}

@media print {
    .tax_title {
        font-family: Georgia, serif !important;
        color: #000 !important;
        font-weight: bold !important;
        font-size: 25px !important;
        text-transform: uppercase !important;
        background-color: red;
        -webkit-print-color-adjust: exact;
    }

    .table-responsive {
        border: 2px solid black !important;
    }
}
